<%= form_for(@ark) do |f| %>
  <% if @ark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ark.errors.count, "error") %> prohibited this ark from being saved:</h2>

      <ul>
      <% @ark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namespace_ark %><br />
    <%= f.text_field :namespace_ark %>
  </div>
  <div class="field">
    <%= f.label :url_base %><br />
    <%= f.text_field :url_base %>
  </div>
  <div class="field">
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </div>
  <div class="field">
    <%= f.label :view_thumbnail %><br />
    <%= f.text_field :view_thumbnail %>
  </div>
  <div class="field">
    <%= f.label :view_object %><br />
    <%= f.text_field :view_object %>
  </div>
  <div class="field">
    <%= f.label :noid %><br />
    <%= f.text_field :noid %>
  </div>
  <div class="field">
    <%= f.label :namespace_id %><br />
    <%= f.text_field :namespace_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
