<h1>Listing arks</h1>

<table>
  <tr>
    <th>Namespace ark</th>
    <th>Url base</th>
    <th>Pid</th>
    <th>View thumbnail</th>
    <th>View object</th>
    <th>Noid</th>
    <th>Namespace</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arks.each do |ark| %>
  <tr>
    <td><%= ark.namespace_ark %></td>
    <td><%= ark.url_base %></td>
    <td><%= ark.pid %></td>
    <td><%= ark.view_thumbnail %></td>
    <td><%= ark.view_object %></td>
    <td><%= ark.noid %></td>
    <td><%= ark.namespace_id %></td>
    <td><%= link_to 'Show', ark %></td>
    <td><%= link_to 'Edit', edit_ark_path(ark) %></td>
    <td><%= link_to 'Destroy', ark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ark', new_ark_path %>
