<p id="notice"><%= notice %></p>

<p>
  <b>Namespace ark:</b>
  <%= @ark.namespace_ark %>
</p>

<p>
  <b>Url base:</b>
  <%= @ark.url_base %>
</p>

<p>
  <b>Pid:</b>
  <%= @ark.pid %>
</p>

<p>
  <b>View thumbnail:</b>
  <%= @ark.view_thumbnail %>
</p>

<p>
  <b>View object:</b>
  <%= @ark.view_object %>
</p>

<p>
  <b>Noid:</b>
  <%= @ark.noid %>
</p>

<p>
  <b>Namespace:</b>
  <%= @ark.namespace_id %>
</p>


<%= link_to 'Edit', edit_ark_path(@ark) %> |
<%= link_to 'Back', arks_path %>
